.eventItem {
    border: 1px solid;
    width: 230px;
    height: 170px;
    float: left;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    position: relative;

    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 69%, rgba(181,198,208,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(69%, rgba(181,198,208,1)), color-stop(100%, rgba(181,198,208,1)));
    background: -webkit-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 69%, rgba(181,198,208,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 69%, rgba(181,198,208,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 69%, rgba(181,198,208,1) 100%);
    background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 69%, rgba(181,198,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=1 );
}

.eventTitle{
    font-size:20px;
}

.eventLine{
    font-size:14px;
}

.subCheck{
    right: 3px;
    bottom: 3px;
    position: absolute;
}